<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>



    <script>

        var mymodule = angular.module("kuchModule", []);

        mymodule.controller("kuchController", function ($scope, $http) {

            $scope.jsonArray = [];
            $scope.selCity ;
            $scope.selGame;

            $scope.doFetchAll = function () {

                var url = "/do-fetch-all-tournaments?kuchCity="+$scope.selCity+"&kuchGame="+$scope.selGame;
                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {


                    $scope.jsonArray = response.data;

                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            }

            //-----------------------------------------------------
            $scope.cities=[{}];

            $scope.doFetchAllCities=function(){
                var url="/do-fetch-all-cities";
                 $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    $scope.cities = response.data;

                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }


            }




            //==================================================
            $scope.oneRecord = {};
            $scope.doShowDetails = function (index) {
                //alert(JSON.stringify($scope.jsonArray[index]))
                $scope.oneRecord = $scope.jsonArray[index];

            }

        });


    </script>

</head>

<body ng-app="kuchModule" ng-controller="kuchController" ng-init="doFetchAllCities();">
    <center><div style="float: left; background-color: aqua;">
        <label for="Sports" class="form-label" >Sports Category</label>
        <select class="form-control"  id="Sports" style="width: 700px;" ng-model="selGame">
           
            <option value="Boxing">Boxing</option>
            <option value="Judo">Judo</option>
            <option value="Badminton">Badminton </option>
            <option value="Table Tennis">Table Tennis</option>
            <option value="Tennis">Tennis</option>
            <option>Chess</option>
            <option>Kabaddi</option>
            <option>Cricket</option>
            <option>Cricket</option>
            <option>Cricket</option>
            <option>Cricket</option>
            <option>Cricket</option>
            <option>Cricket</option>
            <option>Cricket</option>
            <option>Cricket</option>
            <option>Cricket</option>
            <option>Cricket</option>
            <option>Cricket</option>
            <option>Cricket</option>
            <option>Cricket</option>
            <option>Cricket</option>
            <option>Cricket</option>

        </select>
        </div>
        <div style="float: left; background-color: blanchedalmond;">
        <label for="City" class="form-label" style="display: block;">City</label>
        <select ng-model="selCity" class="form-control"   id="City" style="width: 700px;">
          
            <option ng-repeat="obj in cities" value="{{obj.city}}">
                {{obj.city}}
            </option>

        </select>
        </div>








        <input type="button" value="Fetch All Records" ng-click="doFetchAll();" />
        <h2>All Records</h2>

        <div class="container">
            <div class="row">
                <div class="col-md-3  p-3 mb-2" ng-repeat="obj in jsonArray">
                    <div class="card">


                        <div class="card-body">
                            <h5 class="card-title">
                                {{obj.title}}
                            </h5>
                            <p class="card-text">
                                Sports: {{obj.sports}}
                            </p>
                            <p class="card-text">
                                City: {{obj.city}}
                            </p>
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal"
                                ng-click="doShowDetails($index);">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ************************** -->

        <!-- Modal -->
        <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Tournament Detail</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <!-- <p>
                            Title : 
                        </p>

                        <p>
                            Emailid : {{oneRecord.emailid}}
                        </p> -->

                        <!-- <div class="d-inline p-2 text-bg-primary">  Title:</div>
                        <div class="d-inline p-2 text-bg-dark">{{oneRecord.title}}</div>

                        <div class="d-inline p-2 text-bg-primary">  Emailid:</div>
                        <div class="d-inline p-2 text-bg-dark">{{oneRecord.emailid}}</div> -->

                        <table class="table">

                            <tbody>
                                <tr>
                                    <th scope="row">Title:</th>

                                    <td>{{oneRecord.title}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">Email:</th>

                                    <td>{{oneRecord.emailid}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">Prize</th>

                                    <td>{{oneRecord.prize}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">Registeration Fee:</th>

                                    <td>{{oneRecord.fee}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">City</th>

                                    <td>{{oneRecord.city}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">Address:</th>

                                    <td>{{oneRecord.address}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">Sports:</th>

                                    <td>{{oneRecord.sports}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">Minimum Age</th>

                                    <td>{{oneRecord.minage}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">Maximum Age:</th>

                                    <td>{{oneRecord.maxage}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">Contact Number:</th>

                                    <td>{{oneRecord.contactnum}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">contact Name</th>

                                    <td>{{oneRecord.contactname}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">Date of Tournament:</th>

                                    <td>{{oneRecord.doe}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">Time of Tournament</th>

                                    <td>{{oneRecord.toe}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">Last date of registeration</th>

                                    <td>{{oneRecord.ldr}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Enroll</button>
                    </div>
                </div>
            </div>
        </div>



</body>
</center>

</html>