<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>


    <style>
        body {
            background-color: #1e1e2f;
            color: #fff;
            font-family: sans-serif;
            margin: 0px;

        }

        table {
            width: 100%;
            /* border-collapse: collapse; */
            box-shadow: 1px 1px 10px rgb(252, 251, 251);
            width: 95%;
            margin-bottom: 60px;


        }

        th,
        td {
            padding: 12px 4px;
            border: 1px solid #444;
        }

        th {
            background-color: #2e2e3e;
        }

        tbody tr {
            background-color: #2a2a3a;
        }

        tbody tr:hover {
            background-color: #3a3a4a;
        }
    
    </style>

    <script>



        var mymodule = angular.module("kuchModule", []);

        mymodule.controller("kuchController", function ($scope, $http) {

            $scope.jsonArray = [];

            $scope.doFetchAll = function () {
                var emailid = $scope.txtEmail5;
                var jadu = localStorage.getItem("activeUser");
                var url = "/do-fetch-all-users?txtEmail5=" + jadu;



                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    //resp in JSON array
                    // alert(JSON.stringify(response.data));

                    $scope.jsonArray = response.data;

                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            }
            // ----------------------
            $scope.doDelete = function (rid) {

                var url = "/delete-one?ridKuch="+ rid;

                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    alert(response.data);//resp in string
                    $scope.doFetchAll();
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            }


        })

    </script>

</head>

<body ng-app="kuchModule" ng-controller="kuchController" ng-init="doFetchAll()">

    <div style="line-height: 80px; text-align: center; font-size: 40px;"> Your All Events</div>
    <div class="container" >
        <!-- <div class="input-group mb-3 mt-2">
            <span class="input-group-text">@</span>
            <div class="form-floating">
                <input type="text" class="form-control" id="txtEmail5" placeholder="Username" style="width: 600px; " ng-model="txtEmail5">
                <label for="floatingInputGroup1">Enter Email</label>
            </div>
            <div class="col-md-4  ">
                <button type="button" class="btn btn-primary" style=" margin-left: 100px; width: 200px; height: 58px;"
                   >Search</button>
            </div>
        </div> -->

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">SR</th>
                    <th scope="col">Title</th>
                    <th scope="col">Sports</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Prize</th>
                    <th scope="col">Minimum Age</th>
                    <th scope="col">Maximum Age</th>
                    <th scope="col">Last Date Of Registeration</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Registeration Fee</th>
                    <th scope="col">Contact Name</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                <!-- <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr> -->
                <tr ng-repeat="obj in jsonArray">
                    <td>{{$index+1}}</td>
                    <td>{{obj.title}}</td>
                    <td>{{obj.sports}}</td>
                    <td>{{obj.doe}}</td>
                    <td>{{obj.toe}}</td>
                    <td>{{obj.prize}}</td>
                    <td>{{obj.minage}}</td>
                    <td>{{obj.maxage}}</td>
                    <td>{{obj.ldr}}</td>
                    <td>{{obj.address}}</td>
                     <td>{{obj.city}}</td>
                    <td>{{obj.fee}}</td>
                        <td>{{obj.contactname}}</td>
                    <td>{{obj.contactnum}}</td>

                    <!-- <td>
               <a href={{obj.picurl}}> 
                <img src={{obj.picurl}} width="50" height="50">
                </a>
            </td>  -->
                    <th>
                        <input type="button" ng-click="doDelete(obj.rid);" value="Remove"
                            style="background-color: red; color: white;">
                    </th>

                </tr>

            </tbody>
        </table>
    </div>



</body>

</html>