<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>



    <script>

        var mymodule = angular.module("kuchModule", []);

        mymodule.controller("kuchController", function ($scope, $http) {

            $scope.jsonArray = [];

            $scope.doFetchAll = function () {


                var url = "/do-fetch-organizer";



                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {

                    
                    $scope.jsonArray = response.data;

                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            }



        })

    </script>

</head>

<body ng-app="kuchModule" ng-controller="kuchController"  ng-init="doFetchAll();">
    <div class="container" style="background-color: aqua;">
        
        <!-- <table class="table">
  <thead>
    <tr>
     <th scope="col">sr</th>
      <th scope="col">title</th>
      <th scope="col">date</th>
      <th scope="col">time</th>
      <th scope="col">prize</th>
      <th scope="col">delete</th>
      
    </tr>
  </thead>
  <tbody>
 
     <tr ng-repeat="obj in jsonArray">
            <td>{{$index+1}}</td>
            <td>{{obj.title}}</td>
            <td>{{obj.doe}}</td>
            <td>{{obj.toe}}</td>
            <td>{{obj.prize}}</td>
            
          
             <th>
                <input type="button" ng-click="doDelete(obj.emailid,obj.pwd);" value="Remove" style="background-color: red; color: white;">
            </th>

        </tr>
  
  </tbody>
</table> -->

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Organisation Name</th>
                    <th scope="col">Registeration number</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Website</th>
                    <th scope="col">Insta Handle</th>
                    <th scope="col">Head name</th>
                    <th scope="col">Contact Number</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonArray">
                    <th scope="row">{{$index+1}}</th>
                    <td>{{obj.email3}}</td>
                    <td>{{obj.org_name3}}</td>
                    <td>{{obj.registeration_num3}}</td>
                    <td>{{obj.address3}}</td>
                    <td>{{obj.city3}}</td>
                    <td>{{obj.website3}}</td>
                    <td>{{obj.insta3}}</td>
                    <td>{{obj.head3}}</td>
                    <td>{{obj.contact3}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>



</body>

</html>